.container {
  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;
  /*display: flex;
  justify-content: center;
  align-items: center;   why the box did not use the flex-purpose? First i thrive with .box_DIV, and than i try same with .container_DIV. and I did it!*/
}